/*Global CSS*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
a {
	color: #A7A8A8;
	text-decoration: none;
	font-weight: 700;
}
a:hover {
	color: #fff;
}

/*Header Section CSS*/
.topbar {
	width: 100%;
	float: left;
	background: #f6f9f9;
	padding: 20px 0px;
}

/*Logo CSS*/
.logo {
	width: 50%;
    float: left;
}

/*Navbar CSS*/
.navbar {
	width: 50%;
    float: left;
}
.navbar ul {
	list-style: none;
	float: right;
	margin-top: 7px;
}
.navbar ul li {
	display: inline;
	padding: 10px;
}
.navbar ul li a {
	font-size: 20px;
	transition: 0.4s ease-in-out;
}
.navbar ul li a:hover {
	color: #15a4fa;
}
.active {
	color: #15a4fa;
}

/*Banner Section CSS*/
.banner-bg {
	background: url(../images/banner.png);
	background-size: cover;
	background-position: center;
	min-height: 615px;
	position: relative;
	width: 100%;
	float: left;
}
.banner-content {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.banner-content h1 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-size: 85px;
	letter-spacing: 2px;
	margin-top: 60px;
}
.banner-content .line {
	background: #15a4fa;
	height: 1px;
	width: 45%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
.banner-content p {
	color: #f3f3f4;
	text-align: center;
	margin: 20px 0px;
}
.banner-content .highlight {
	text-transform: uppercase;
}
.banner-content .btn-primary {
	display: inline-block;
    float: left;
    margin: 0 auto;
    padding: 11px 25px;
    background: transparent;
    color: #fff;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: 0.4s ease-in-out;
}
.banner-content .btn-primary:hover {
	background: #15a4fa;
	color: #fff;
}
.down {
	color: #fff;
    font-size: 25px;
    text-align: center;
    padding-top: 190px;
}
.down a {
	color: #fff;
	transition: 0.4s ease-in-out;
}
.down a:hover {
	color: #15a4fa;
}

/*About Section CSS*/
.about {
	background: #f6f9f9;
	text-align: center;
	width: 100%;
	float: left;
}
.about h2 {
	margin: 85px 0px 35px;
    font-size: 40px;
    color: #2D3950;
}
.about p {
	color: #A7A8A8;
	padding: 0px 40px;
	margin-bottom: 100px;
    font-size: 20px;
    line-height: 32px;
}

/*Feature Section CSS Start*/
.feature {
	width: 100%;
	float: left;
}
.feature-box {
	width: 33.33%;
	float: left;
}
.feature-box img {
	display: block;
	margin: 0 auto;
	margin-top: 80px;
}
.feature-box h4 {
	text-align: center;
    padding: 30px 0px 20px;
    color: #2D3950;
    font-size: 22px;
    margin-top: 60px;
}
.feature-box p {
	text-align: center;
    padding: 0px 35px 75px;
    color: #A7A8A8;
    font-size: 15px;
    line-height: 22px;
}

/*Portfolio Section CSS Start*/
.portfolio {
	width: 100%;
	float: left;
	background: #f6f9f9;
	padding-bottom: 100px;
}
.portfolio-content {
	text-align: center;
    margin: 40px 0px 85px;
}
.portfolio-content h1 {
	font-size: 40px;
    color: #2D3950;
    margin-top: 85px;
}
.portfolio-content p {
	color: #A7A8A8;
    font-size: 18px;
    padding-top: 10px;
}    
.portfolio-gallery {
	width: 100%;
}
.portfolio-item {
	width: 33.33%;
    float: left;
    padding-bottom: 16px;
    position: relative;
}
.portfolio-item img {
	width: 95.5%;
    float: left;
}
.portfolio-hover {
	width: 95.5%;
    height: 95.5%;
	background: #2bacfa;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	transition: 0.4s ease-in-out;
}
.portfolio-hover:hover {
	opacity: 0.6;
}
.portfolio-hover ul {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.portfolio-hover ul li {
	list-style: none;
    display: inline;
    font-size: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 8px 10px;
    cursor: pointer;
    margin: 0 2px;
}
.portfolio-hover ul li:hover {
	background: #2bacfa;
}
.portfolio-hover ul li .fa {
	color: #fff;
	font-size: 14px;
}

/*Contact Section CSS*/
.contact {
	background:linear-gradient(rgba(42, 54, 75, .7),rgba(42, 54, 75, .7)), url(../images/banner-two.png) no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	float: left;
	padding: 85px 0px;
}
.contact h1 {
	text-align: center;
	font-size: 40px;
    color: #fff;
    margin-bottom: 12px;
    font-weight: 400;
}
.contact p {
	text-align: center;
    padding: 0px 35px 75px;
    color: #999;
    font-size: 15px;
    line-height: 22px;
}
.contact form {
	width: 40%;
	margin: 0 auto;
}
.contact form input[type="text"] {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #999;
	border-radius: 3px;
	background: transparent;
	box-sizing: border-box;
	color: #fff;
}
.contact form input[type="email"] {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #999;
	border-radius: 3px;
	background: transparent;
	box-sizing: border-box;
	color: #fff;
}
.contact form textarea {
	width: 100%;
	padding: 15px 15px 70px;
	margin-bottom: 15px;
	border: 1px solid #999;
	border-radius: 3px;
	background: transparent;
	box-sizing: border-box;
	color: #fff;
}
.contact form input[type="checkbox"] {
	padding: 5px;
	border-radius: 2px;
	position: relative;
    top: 7px;
}
.contact form .subscribe-news {
    color: #d6d8dc;
    padding-left: 10px;
    position: relative;
    top: 6px;
}    
.contact form input[type="submit"] {
	float: right;
    padding: 8px 35px;
    background: transparent;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    transition: 0.4s ease-in-out;
    color: #fff;
}
.contact form input[type="submit"]:hover {
	background: #15a4fa;
	color: #fff;
}

/*Footer Section CSS*/
footer {
	background: #f6f9f9;
	width: 100%;
	float: left;
}

/*Footer Section Left*/
footer .footer-left {
	width: 50%;
	float: left;
}
footer .footer-left p {
	margin: 25px 0px;
	font-size: 14px;
	color: #999;
}
.footer-left span {
	text-transform: uppercase;
}

/*Copyright Section*/
footer .footer-right {
	width: 50%;
	float: left;
	margin: 20px 0px;
}
footer .footer-right ul {
	float: right;
}
footer .footer-right ul li {
	list-style: none;
	display: inline;
}
footer .footer-right ul li .fa {
	background: #2bacfa;
	color: #fff;
}
footer .footer-right ul li .fa-facebook {
	padding: 5px 11px;
	transition: 0.4s ease-in-out;
}
footer .footer-right ul li .fa-facebook:hover {
	background: #0C2C58;
	color: #fff;
}
footer .footer-right ul li .fa-twitter {
	padding: 5px 7.5px;
	transition: 0.4s ease-in-out;
}
footer .footer-right ul li .fa-twitter:hover {
	background: #76c9fb;
	color: #fff;
}
footer .footer-right ul li .fa-google-plus {
	padding: 5px 4.5px;
	transition: 0.4s ease-in-out;
}
footer .footer-right ul li .fa-google-plus:hover {
	background: #DC4A38;
	color: #fff;
}
footer .footer-right ul li .fa-linkedin {
	padding: 5px 8.5px;
	transition: 0.4s ease-in-out;
}
footer .footer-right ul li .fa-linkedin:hover {
	background: #007AB9;
	color: #fff;
}
